# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

data/           _archive*/     .snakemake/
studies/*/outputs/             papers/*/archive/
*.h5  *.npz  *.eqx  *.fits  *.db

# Checkpoints
checkpoints/

# Custom dirs
data/
paper_barmodel_202306/
runs/
notebooks/
scripts/local_utilities/
TO_DELETE/

_archive*/
_old*/
_deprecated*/
__*/